<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="/bootstrap.min.js"></script>
</head>
<body>
    <%- include('header.ejs') %>
    <div class="main-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5 shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body py-5">
                            <h3 class="card-title text-center py-3 fw-semibold">비밀번호 찾기</h3>
                            <form class="form-signin" method="post" action="/request-password-reset">
                                <div class="form-floating">
                                    <input type="text" name="userID" class="form-control my-1" placeholder="" required>
                                    <label for="floatingInput">아이디<span style="color:red;"> * </span></label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" name="userEmail" class="form-control my-1" placeholder="" required>
                                    <label for="floatingInput">이메일<span style="color:red;"> * </span></label>
                                </div>
                                <hr>    
                                <div class="d-grid gap-2 ">
                                    <button class="btn btn-primary" type="submit">비밀번호 찾기</button>
                                    <button class="btn btn-secondary" onclick="location.href='/join'" type="button">회원가입 하기</button>
                                </div>
                                <div class="my-4 form-check">
                                    <a href="/findID" class="float-end">아이디 찾기</a>
                                </div>
                            </form>
                            <div id="result" class="mt-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <%- include('footer.ejs') %>
</body>
</html>
