<div class="p-5 mt-5 bg-primary-subtle">
    <footer class="container">
    <div>
      사용 기술
      <ul>
        <li>Front-End: Ejs, CSS, Bootstrap</li>
        <li>Back-End: Node-Js, Express, MySQL(AWS RDS)</li>
        <li>카카오 API</li>
        <li>그 외 bcrypt, crypto, nodemailer 등의 라이브러리</li>
        <li>AWS EC2를 이용한 배포 </li>
      </ul>
    </div>
    <div>
        <br>
      <nav class="nav justify-content-center border-bottom pb-3 mb-3">
          <a href='https://github.com/yu828282/' target='_blank'>Github</a>&nbsp;|&nbsp;
          <a href="mailto:enyu0311@gmail.com">E-mail</a>
      </nav>
      <div>
          <span>© 2024 yu828282 개인공부용</span>
      </div>
    </div>
  </footer>
</div>