<div id='wrap'>
    <footer>
      <nav>
          <a href='https://github.com/yu828282/' target='_blank'>Github</a> |
          <a href="mailto:enyu0311@gmail.com">E-mail</a>
      </nav>
      <p>
          <span>© 2024 yu828282 개인공부용</span>
      </p>
  </footer>
</div>