<div class="p-5 my-5 bg-primary-subtle">
    <footer class="container mb-5">
      <div>
        회사의 관리자와 임원 임기 정보를 저장 및 관리할 수 있습니다.<br>
        회원가입 후 관리자의 승인이 완료되면 다음 업무를 할 수 있습니다.
    </div>
    <div>
        1. '회사' 페이지에서 회사 정보 확인 및 수정이 가능합니다.<br>
        2. '등록' 페이지에서 회사 정보 입력이 가능합니다.<br>
        3. '나의 정보' 페이지에서 나의 정보 변경이 가능합니다.<br>
        4. '회사' 페이지의 회사 상호를 클릭해 회사 '상세 페이지'에서 상담 기록과 카카오톡 안내가 가능합니다.
      </div>
      <div>
        <br>
      <nav class="nav justify-content-center border-bottom pb-3 mb-3">
          <a href='https://github.com/yu828282/' target='_blank'>Github</a>&nbsp;|&nbsp;
          <a href="mailto:enyu0311@gmail.com">E-mail</a>
      </nav>
      <div>
          <span>© 2024 yu828282 개인공부용</span>
      </div>
  </footer>
</div>