<div class="p-5 footer-container">
    <footer class="container">    
      <div class="row justify-content-center">
        <div class="col-lg-3 p-3 m-3 text-center text-sm-start">
          <p class="fs-5 fw-bold">Digital Agency</p>
          <p class="pt-2">회사 임기 관리 서비스</p>
        </div>
        <div class="col-lg-3 p-3 m-3 text-center text-sm-start">
          <p class="fs-5 fw-bold">사용 기술</p>
          <p class="pt-2">Front : EJS, CSS, Bootstrap, Figma</p>
          <p class="pt-2">Back : Node-Js, Express</p>
          <p class="pt-2">DB : MySQL</p>
          <p class="pt-2">카카오 공유 API / bcrypt, crypto, nodemailer 등의 라이브러리</p>
          <p class="pt-2">AWS EC2를 이용한 배포</p>
        </div>
        <div class="col-lg-3 p-3 m-3 text-center text-sm-start">
          <p class="fs-5 fw-bold">사이트 맵</p>
          <p class="pt-2"><a class="none-a" href="/">메인</a></p>
          <p class="pt-2"><a class="none-a" href="/join">회원가입</a> / <a class="none-a" href="/login">로그인</a> / <a class="none-a" href="/mypage">나의 정보</a></p>
          <p class="pt-2"><a class="none-a" href="/register">회사등록</a> / <a class="none-a" href="/profile">회사</a> / <a class="none-a" href="/detail/1">상세 페이지</a></p>
          <p class="pt-2">(관리자용) <a class="none-a" href="/user">유저</a> / <a class="none-a" href="/userDetail/1">유저 정보</a></p>
        </div>
    </div>
    <div>
        <br>
      <nav class="nav justify-content-center">
        <span>© 2024 yu828282 개인공부용</span>&nbsp;|&nbsp;
          <a href='https://github.com/yu828282/' target='_blank'>Github</a>&nbsp;|&nbsp;
          <a href="mailto:enyu0311@gmail.com">E-mail</a>
      </nav>
    </div>
  </footer>
</div>