<div class="container py-5">
  <nav id="nav1">
    <a href="/">DIGITAL AGENCY</a>
    <ul>
      <% if(locals.userName){ %>
        <li>'<%= locals.userName%>'님으로 로그인</li>
      <% } %>
      <li><a href="/">home</a></li>
      <li>
        <a href="/profile">회사</a>
      </li>
      <li><a href="/register">등록</a></li>
      <% if(locals.userName){ %>
        <li><a href="/mypage">나의 정보</a></li>
        <li><a href="/logout">로그아웃</a></li>
      <% }else{ %>
        <li><a href="/login">로그인</a></li>
      <% } %>
    </ul>
  </nav>
</div>