<div class="container py-5">
  <nav id="nav1">
    <a href="/">DIGITAL AGENCY</a>
    <div class="menu-icons" onclick="toggleMenu()">
      <span class="menuicon" style="display: flex;"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/> </svg></span>
      <span class="exiticon" style="display: none;"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/> </svg></span>
    </div>
    <ul class="mobile-menu" id="mobileMenu">
      <% if(locals.userName){ %>
        <li>'<%= locals.userName%>'님으로 로그인</li>
      <% } %>
      <li><a href="/">home</a></li>
      <li>
        <a href="/profile">회사</a>
      </li>
      <li><a href="/register">등록</a></li>
      <% if(locals.userName){ %>
        <li><a href="/mypage">나의 정보</a></li>
        <li><a href="/logout" onclick="handleLogOutClick(event)">로그아웃</a></li>
      <% }else{ %>
        <li><a href="/login">로그인</a></li>
      <% } %>
    </ul>
  </nav>
</div>
<script>
  function toggleMenu() {
    var menu = document.getElementById('mobileMenu');
    var menuicon = document.getElementsByClassName('menuicon')[0];
    var exiticon = document.getElementsByClassName('exiticon')[0];

    if (menu.classList.toggle('actives')) {
        menuicon.style.display = 'none';// 'actives' 클래스가 추가된 상태이면 'menuicon' 요소를 숨기고..
        exiticon.style.display = 'flex';
      } else {
        menuicon.style.display = 'flex';
        exiticon.style.display = 'none';
      }
  }
    function handleLogOutClick(event) {
      event.preventDefault(); // 기본 링크 동작을 막음
      const confirmLogOut = window.confirm("정말 로그아웃 하시겠습니까?");
      if (confirmLogOut) {
        window.location.href = "/logout"; // 확인 후 로그아웃 URL로 이동
      }
    }
</script>