<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Agency</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="/bootstrap.min.js"></script>
</head>
<body>
    <div class="main-page">
        <div class="container">
            <div class="py-4">
                <div class="col-lg-6 mx-auto text-center"> 
                    <h2 class="fw-bold">법인 변경등기 안내 소식지</h2>
                    <p>법인설립 후, 다음 사항을 변경하는 경우<br>기간 내 <b>등기 변경</b>을 해주셔야 과태료가 발생하지 않습니다.</p>
                </div>
                <div class="row justify-content-center pt-5 mx-1">
                  <div class="col-lg-3 can-job p-3 m-3 shadow">
                    <p class="fs-5">1. 상호 변경</p>
                    <p class="pt-3 text-start">상호 변경 시 사업자등록 변경을 위해 우선 법인 등기를 변경해야합니다. <br>관할 내 동일한 상호는 사용할 수 없는 경우가 있으니 주의해야 합니다.</p>
                    <p class="pt-3 text-start">신고기한 : 결정일로부터 2주 내</p>
                  </div>
                  <div class="col-lg-3 can-job p-3 m-3 shadow">
                    <p class="fs-5">2. 본점주소 변경</p>
                    <p class="pt-3 text-start">본점의 주소가 변경되는 경우 사업자등록증 상 사무실 주소 변경을 위해 법인의 등기를 변경하셔야 합니다.</p>
                    <p class="pt-3 text-start">신고기한 : 결정일로부터 2주 내</p>
                  </div>
                  <div class="col-lg-3 can-job p-3 m-3 shadow">
                    <p class="fs-5">3. 자본금 변경</p>
                    <p class="pt-3 text-start">투자, 추가 출자 등으로 인해 자본금을 늘리거나 감소해야하는 경우 법인 등기 상 자본금을 변경해주어야 합니다.</p>
                    <p class="pt-3 text-start">증자 신고기한 : 결정일로부터 2주 내</p>
                  </div>
                </div>
                <div class="row justify-content-center pt-5 mx-1">
                  <div class="col-lg-3 can-job p-3 m-3 shadow">
                    <p class="fs-5">4. 발행 주식 수 변경</p>
                    <p class="pt-3 text-start">증자 등으로 인해 발행할 총 주식 수를 변경해야하는 경우 법인의 등기부등본 상 발행할 주식 수를 변경해야 합니다.</p>
                    <p class="pt-3 text-start">신고기한 : 변경 결정일로부터 2주 내</p>
                  </div>
                  <div class="col-lg-3 can-job p-3 m-3 shadow">
                    <p class="fs-5">5. 임원 변경</p>
                    <p class="pt-3 text-start">임원의 임기가 만료되었거나, 사임, 취임, 개명, 사망한 경우 해당 임원의 정보를 변경해야 과태료가 발생하지 않습니다</p>
                    <p class="pt-3 text-start">신고기한 : 변경일로부터 2주 내</p>
                  </div>
                  <div class="col-lg-3 can-job p-3 m-3 shadow">
                    <p class="fs-5">6. 사업 목적 변경</p>
                    <p class="pt-3 text-start">회사 운영 중 사업 목적을 추가 또는 삭제하고자 하는 경우 변경하는 항목 수에 관계없이 등기 변경처리를 해주셔야 합니다.</p>
                    <p class="pt-3 text-start">신고기한 : 변경 결정일로부터 2주 내</p>
                  </div>
                </div>
                <div class="row justify-content-center py-5 mx-1">
                  <div class="col-lg-3 can-job p-3 m-3 shadow">
                    <p class="fs-5">7. 대표자 주소 변경</p>
                    <p class="pt-3 text-start">대표자의 자택 주소지가 변경되는 경우, 등기변경 처리를 하셔야 과태료가 발생하지 않습니다</p>
                    <p class="pt-3 text-start">신고기한 : 전입일로부터 2주 내</p>
                  </div>
                  <div class="col-lg-3 can-job p-3 m-3 shadow">
                    <p class="fs-5">8. 그 외 기타</p>
                    <p class="pt-3 text-start">지점을 설치하거나 삭제, 이전하는 경우/ 주식매수선택권 등의 항목을 추가 또는 삭제하는 경우 등기에 반영해야 합니다. </p>
                    <p class="pt-3 text-start">신고기한 : 변경일로부터 2주 내</p>
                  </div>
                </div>                
                <div class="py-3"> 
                    <h2 class="fw-bold">⭐ 임원 변경의 경우 주의사항</h2>
                    <br>
                    <p class="fs-5">1) 임기 만료로 퇴임하는 경우</p>
                    <p class="pt-3">이사 : 주식회사의 이사 임기는 <b>최대 3년</b> 입니다. <br>임기만료일에 맞춰 중임(연임) 또는 퇴임처리를 해야합니다.</p>
                    <p class="pt-3">감사 : 감사 임기는 취임 후 <b>3년 내 최종 결산기에 대한 주주총회 종결일</b>까지입니다. <br>이사와 마찬가지로 중임(연임) 또는 퇴임처리를 해야합니다.</p>
                    <p> <b>예) </b>2024년 7월 7일 선임 시 12월말 결산법인인 경우 <br>이사 임기 2027년 7월 7일<br>감사 임기 :2027년 3월 31일 </p>
                    <br>
                    <p class="fs-5">2) 임기 만료 전 변경(사임/ 신규 취임) 하는 경우</p>
                    <p class="pt-3">임기 만료 전의 경우 주주총회(또는 이사회) 결정일로부터 2주 내에 변경등기 신청서와 첨부서류를 관할 등기소에 접수해주시면 됩니다. </p>
                    <br>
                    <p class="fs-5">3) 기타 사항(개명, 사망 등..)</p>
                    <p class="pt-3">법인 임원의 개명, 사망 등으로 인해 등기 사유가 발생한 경우 등기 사유 발생일자로부터 2주내 등기 신청서와 제반서류를 접수해야 합니다.</p>
                    <p>개명 : 법원으로부터 허가결정 통지를 송달받은 날<br>사망 : 사망한 날</p>
                </div>
                <div class="text-center">
                  <h2 class="fw-bold">변경등기가 필요한 경우<br>연락주시면 추가 안내 드리겠습니다.</h2>
                  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="feature col">
                      <div class="d-inline-flex align-items-center justify-content-center can-job p-3 m-3 shadow contact-icon">
                        <a class="text-dark" href="tel:1599-1873">
                          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16"> <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/> </svg>
                        </a>  
                        </div>
                      <h3 class="fs-2 text-body-emphasis">1599-1873</h3>
                      <a href="tel:1599-1873" class="icon-link">전화 문의 &raquo;</a>
                    </div>
                    <div class="feature col">
                      <div class="d-inline-flex align-items-center justify-content-center can-job p-3 m-3 shadow contact-icon">
                        <a class="text-dark" href="mailto:help@hb.re.kr">
                          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16"> <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/> </svg>
                        </a>  
                      </div>
                      <h3 class="fs-2 text-body-emphasis">help@hb.re.kr</h3>
                      <a href="mailto:help@hb.re.kr" class="icon-link">이메일 문의 &raquo;</a>
                    </div>
                    <div class="feature col">
                      <div class="d-inline-flex align-items-center justify-content-center can-job p-3 m-3 shadow contact-icon">
                        <a class="text-dark" href="https://open.kakao.com/me/kidn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16"> <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/> <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9 9 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.4 10.4 0 0 1-.524 2.318l-.003.011a11 11 0 0 1-.244.637c-.079.186.074.394.273.362a22 22 0 0 0 .693-.125m.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6-3.004 6-7 6a8 8 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a11 11 0 0 0 .398-2"/> </svg>
                        </a>  
                      </div>
                      <h3 class="fs-2 text-body-emphasis">카카오톡 KIDn</h3>
                      <a href="https://open.kakao.com/me/kidn" class="icon-link" target='_blank'>카카오톡 문의 &raquo;</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>