<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="/bootstrap.min.js"></script>
</head>
<body>
    <%-include('header.ejs') %>
    
    <div class="main-page">
        <form action="/registerProc" method="post">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5 shadow p-3 mb-5 bg-white rounded">
                    <div class="mb-3 row">
                        <label for="corp" class="col-sm-2 col-form-label">상호</label>
                        <div class="col-sm-10">
                            <input type="text" name="corp" class="form-control" id="corp" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="date" class="col-sm-2 col-form-label">설립일</label>
                        <div class="col-sm-10">
                            <input type="date" name="date" class="form-control" id="date" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="eDate" class="col-sm-2 col-form-label">취임(중임)일</label>
                        <div class="col-sm-10">
                            <input type="date" name="eDate" class="form-control" id="eDate" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="manager" class="col-sm-2 col-form-label">담당자</label>
                        <div class="col-sm-10">
                            <input type="text" name="manager" class="form-control" id="manager" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="phone" class="col-sm-2 col-form-label">연락처</label>
                        <div class="col-sm-10">
                            <input type="text" name="phone" class="form-control" id="phone" oninput="oninputPhone(this)" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="email" class="col-sm-2 col-form-label">이메일</label>
                        <div class="col-sm-10">
                            <input type="text" name="email" class="form-control" id="email" required>
                        </div>
                    </div>
                    <div class="">
                        <label for="auditor" class="col-sm-2 col-form-label">감사여부</label>
                        <!-- <div class="col-sm-10">
                            <input type="checkbox" name="auditor" class="form-control" id="auditor" value=1 checked>감사있음
                        </div> -->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="auditor" id="inlineCheckbox1" value=1 checked>
                            <label class="form-check-label" for="inlineCheckbox1">감사있음</label>
                          </div>
                    </div>
                    <div class="">
                        <label for="closing" class="col-sm-2 col-form-label">결산일</label>
                        <!-- <div class="col-sm-10">
                            <input type="radio" name="closing" class="form-control" id="closing" value=6 required>6월 
                            <input type="radio" name="closing" class="form-control" value=12 required>12월
                        </div> -->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="closing" id="inlineRadio1" value=6>
                            <label class="form-check-label" for="inlineRadio1">6월</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="closing" id="inlineRadio2" value=12 checked>
                            <label class="form-check-label" for="inlineRadio2">12월</label>
                          </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="directorTerm" class="col-sm-2 col-form-label">이사임기</label>
                        <div class="col-sm-10">
                            <input type="date" name="directorTerm" class="form-control" id="directorTerm" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="auditorTerm" class="col-sm-2 col-form-label">감사임기</label>
                        <div class="col-sm-10">
                            <input type="date" name="auditorTerm" class="form-control" id="auditorTerm" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="memo" class="form-label">메모</label>
                        <textarea class="form-control" id="memo" name="memo" cols="50" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">제출하기</button>
                <!-- <ul>          
                    <li> 상호 : <input type="text" name="corp"  required ></li>
                    <li> 설립일 : <input type="date" name="date" required></li>
                    <li> 취임(중임)일 : <input type="date" name="eDate" required></li>
                    <li> 담당자 : <input type="text" name="manager" required></li>
                    <li> 연락처 : <input type="text" name="phone" required ></li>
                    <li> 이메일 : <input type="text" name="email" required></li>
                    <li> 감사여부 : <input type="checkbox" name="auditor" value=1 checked>감사있음</li>
                    <li> 결산일 : <input type="radio" name="closing" value=6 required>6월 <input type="radio" name="closing" value=12 required>12월</li>
                    <li> 이사임기 : <input type="date" name="directorTerm" required ></li>
                    <li> 감사임기 : <input type="date" name="auditorTerm" ></li>
                    <li>메모 : <br>
                    <textarea name="memo" cols="50" rows="10"></textarea></li>
                    <button>제출하기</button>
                </ul> -->     
                </div>         
            </div>         
        </form>
    </div>
    
    <%-include('footer.ejs') %>
    <script>

        function oninputPhone(target) {
            target.value = target.value
                .replace(/[^0-9]/g, '')
                .replace(/(^02.{0}|^01.{1}|[0-9]{3,4})([0-9]{3,4})([0-9]{4})/g, "$1-$2-$3");
        }
      
        //필드 지정
        var dateInput = document.querySelector('input[name="date"]');
        var eDateInput = document.querySelector('input[name="eDate"]');
        var directorTermInput = document.querySelector('input[name="directorTerm"]');
        var closingRadio = document.querySelectorAll('input[name="closing"]');
        var auditorCheckbox = document.querySelector('input[name="auditor"]');
        var auditorTermInput = document.querySelector('input[name="auditorTerm"]');    

        dateInput.addEventListener('change', function() {// 설립일이 변경될 때 이벤트 처리
            var date = new Date(dateInput.value);             
            eDateInput.valueAsDate = date;
            date.setFullYear(date.getFullYear() + 3); // 이사임기를 설립 후 3년 후로 설정
            directorTermInput.valueAsDate = date;
        });
        
        eDateInput.addEventListener('change', function() {// 설립일이 변경될 때 이벤트 처리
            var eDate = new Date(eDateInput.value);            
            eDate.setFullYear(eDate.getFullYear() + 3); // 이사임기를 설립 후 3년 후로 설정
            directorTermInput.valueAsDate = eDate;
        });
        
        auditorCheckbox.addEventListener('change', function() {// 감사없는 경우
            if (!this.checked) {
            var auditorTermDate = new Date(9999, 11, 32); // 감사 임기는 9999년으로 설정
            auditorTermInput.valueAsDate = auditorTermDate;
            }
        });

        closingRadio.forEach(function(radio) {
            radio.addEventListener('change', function() {
                // 만약 선택된 결산일이 12월이라면
                if (radio.value === '12' && auditorCheckbox.checked) {
                    var eDate = new Date(eDateInput.value);
                    var auditorTermDate = new Date(eDate.getFullYear() + 3, 2, 32); // 3년 후의 3월 31일이 감사 임기
                    auditorTermInput.valueAsDate = auditorTermDate;
                }
                // 만약 선택된 결산일이 6월이라면
                if (radio.value === '6' && auditorCheckbox.checked) {
                    var eDate = new Date(eDateInput.value);
                        if (eDate.getMonth() >= 0 && eDate.getMonth() <= 5) {       //1~6월 사이 설립이면 
                        var auditorTermDate = new Date(eDate.getFullYear() + 2, 8, 31); // 2년 후의 9월 30일이 감사 임기
                        // 감사임기 입력 필드에 설정
                        auditorTermInput.valueAsDate = auditorTermDate;
                        }
                        if (eDate.getMonth() >= 7 && eDate.getMonth() <= 12) {       //7~12월 사이 설립이면 
                        var auditorTermDate = new Date(eDate.getFullYear() + 3, 8, 31); // 3년 후의 9월 30일이 감사 임기
                        // 감사임기 입력 필드에 설정
                        auditorTermInput.valueAsDate = auditorTermDate;
                        }
                }
            });
        });
    </script>
</body>
</html>