* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  overflow-x: hidden; /* x축 스크롤 제거 */
}
body{
  width: 100vw; /* Viewport width to ensure no horizontal overflow */
  height: 100vh; /* Viewport height */
  background-image : url('./images/Ellipse\ 2.png'), url('./images/Ellipse\ 3.png');
  background-repeat : no-repeat, no-repeat;
  background-position: 0% 0%, right center;
  color: #272D38;
}
img {
  margin: auto;
  display: block;
}
.container{
  padding: 0 4%;
}

#kakaotalk-sharing-btn{
  text-decoration: none;
}
.sendMail{
  color: #272D38;
}
#kakaotalk-sharing-btn :hover, .sendMail :hover{    
  transform : translateY(-0.25rem);
  transition : .25s;
}

.table-responsive {
  overflow-x: auto;
}
.table-secondary{
  text-align: center;
}

#profileTable{
  table-layout:auto;
  width: 100%;
  max-width: 2000px;
  min-width: 300px;
}
#profileTable input[type="text"] {
  width: max-content;
}
#profileTable textarea {
  height: 145px;
  width: 150px;
}
#nav1{
  height: 50px;
  max-width: 1200px;
}

#nav1>a {
    color: #272D38;
    display: block; /* a태그는 글자성격 = inline */
    float: left;
    font-size: 30px;
    font-weight: 900;
    line-height: 50px;
    padding: 0 30px;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
}
#nav1>ul {
  float: right;
  list-style-type: none;
}
#nav1>ul li {
  float: left;
  padding: 0 10px;
  line-height: 50px;
}
#nav1>ul li a{
  color: #272D38;
  text-decoration: none;
}
#nav1>ul li a:hover{
  font-weight: 600;
}
#wrap {
  min-height: 150px;
  position: relative;
  width: 100%;
}

.main-page{
  margin: 30px 10px;
  padding: 50px 0 50px 0;
  min-height: 960px;
  max-width: 960px;
  margin: auto;
}
.active{
  font-weight: 600;
}

.alertRed {
  color: red !important;
}

.closing{
  min-width: 75px;
}        
.detailTable{
  max-width: 800px;
  table-layout: auto;
  background-color: #fff0;
}

.detailTable th {
  width: 100px;
}
.detailTable th,
.detailTable td {
  padding: 2px;
  text-align: left;
}

.bottom{
  align-self: flex-end
}

/* 햄버거 메뉴 스타일 */
.menu-icons {
  display: none;
  flex-direction: column;
  cursor: pointer;
}    
.menu-icons:hover{
  transform: translateY(-5px);
  transition: all 0.5s ease-in-out;
}

.mobile-menu li {
  margin: 10px 0;
}

.menu-icons svg {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menuicon.hidden,
.exiticon.hidden {
  opacity: 0;
  transform: scale(0.9);
}

@media (max-width: 768px) {
  .main-table {
      width: 100%;
      display: block;
      overflow-x: auto;
      white-space: nowrap;
  }

  .main-table thead, .main-table tbody, .main-table th, .main-table td, .main-table tr {
      display: block;
  }

  .main-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }

  .main-table tr {
      border: 1px solid #ccc;
  }

  .main-table td {
      border: none;
      position: relative;
      padding-left: 50%;
  }

  .main-table td:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
  }  
  #profileTable tbody tr{
    display: block;
  }
  .updateForm {
    display: none; /* 기본적으로 숨기기 */
  }

  /* 작은 화면에서는 updateForm을 block으로 표시 */
  @media (max-width: 1024px) {
    .updateForm {
      display: block;
    }
  }

  /* PC 화면에서는 table-row로 표시 */
  @media (min-width: 1024px) {
    .updateForm {
      display: table-row;
    }
  }


	.search{
  width: fit-content;
  }

  nav ul {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

  }

  .menu-icons {
    display: flex;        
    align-items: flex-end;
    padding: 10px 0 0 0;
    cursor: pointer;
    
  }

  .actives {
    display: flex;
    opacity: 1;
  }

  #nav1 > ul li{
    line-height: 20px;
  }

}
.clickable {
    cursor: pointer;
}
.kakao_icon{
  width: 30px;
  display: inline;
}

.input-small{
  flex-grow: 0;
  flex-basis: 100px;
}

.password-toggle-icon-login{
    position: absolute;
    right: 10%;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.footer{
	bottom: 0px;
	position: absolute;
	height: 10rem;

}
.can-job{
  background-color: #F6F6F6;
  border-radius : 20px;
  text-align: center;
  padding: 3% 0 ;
}

.footer-container{
  background-color: #F6F6F6;
}
.none-a{
  color: #272D38;
  cursor: pointer;
  text-decoration: none;
}
.contact-icon:hover{
  box-shadow: 0
}
.contact-icon:hover{
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}